<ion-content>

  <div *ngIf="pageState === 'get_email'">
    <ion-grid>


      <ion-row>
        <ion-col>
          <h2>Forgot your password?</h2>
          <h5>It's okay, it happends to the best of us</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span>EMAIL ADDRESS</span>
          <ion-input [(ngModel)]="comfirmationEmail" type="email" placeholder="Your email address"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button icon-right (click)="sendPasswordResetEmail()" color="red">
            <ion-label>Send Password Reset Email</ion-label>
            <ion-icon name="arrow-right"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div *ngIf="pageState === 'confirm_number'" class="forgot-password-email-entry">
    <ion-grid>


      <ion-row>
        <ion-col>
          <h2>Confirm your number:</h2>
          <h5>What phone number was your temporary password sent to?</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span>Your Phone Number</span>
          <ion-input type="tel" placeholder="555-555-5555"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button icon-right (click)="confirmPhoneNumber()" color="red">
            <ion-label>Confirm Phone Number</ion-label>
            <ion-icon name="arrow-right"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div *ngIf="pageState === 'create_password'" class="forgot-password-email-entry">
    <ion-grid>


      <ion-row>
        <ion-col>
          <h2>Create your password:</h2>
          <h5>Open Sesame? Your password must be at least 6 characters long.</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span>PASSWORD</span>
          <ion-input type="password" placeholder=""></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button icon-right (click)="createPassword()" color="red">
            <ion-label>Continue</ion-label>
            <ion-icon name="arrow-right"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>


</ion-content>
