<ion-header class="drill-detail-navbar">
  <ion-navbar color="dark">
  </ion-navbar>

</ion-header>

<!--ion-content class="grey-bg" padding-->
<ion-content class="select-drill-content">

    <div *ngIf="!isReady" class="loading-spinner dark"><ion-spinner name="crescent"></ion-spinner></div>
    <div *ngIf="isReady">

        <h1 class="select-drill-heading">Select A Drill</h1>

        <ion-list class="drill-bg-color">
            <ion-item class="drill-block drill-bg-color" *ngFor="let drill of drills" (click)="goToMediaCapture(drill)">
                <ion-grid class="drill-bg-color">
                    <ion-row class="drill-bg-color">
                        <ion-col col-1 class="green-circle-col">
                            <img src="../assets/images/Green Circle@1x.png" />
                        </ion-col>

                        <ion-col>
                            <span class="drill-name">{{drill.name}}</span>
                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>

    </div>

</ion-content>
